/Makefile
/include/Makefile
/src/Makefile
/tests/Makefile

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/include/osmscout/CoreFeatures.h
/parser/OST/Parser.cpp
/parser/OST/Parser.cpp.old
/parser/OST/Parser.h
/parser/OST/Parser.h.old
/parser/OST/Scanner.cpp
/parser/OST/Scanner.cpp.old
/parser/OST/Scanner.h
/parser/OST/Scanner.h.old
