/autom4te.cache
/aclocal.m4
/config.guess
/configure
/checking
/config.log
/config.sub
/config.status
/depcomp
/getting
/libosmscout.pc
/install-sh
/libosmscout-uninstalled.pc
/libtool
/ltmain.sh
/Makefile
/missing
/Makefile.in
/include/Makefile
/include/Makefile.in
/include/osmscout/CoreFeatures.h
/include/osmscout/private/Config.h
/include/osmscout/private/Config.h.in
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/parser/OST/Parser.cpp
/parser/OST/Parser.cpp.old
/parser/OST/Parser.h
/parser/OST/Parser.h.old
/parser/OST/Scanner.cpp
/parser/OST/Scanner.cpp.old
/parser/OST/Scanner.h
/parser/OST/Scanner.h.old
/src/**/*.lo
/src/**/.dirstamp
/src/**/.deps
