/*
  Layout
 */

html {
  overflow-y: scroll;
}

/* flexbox layout from top to bottom, contains:
   - header
   - content
     - nav
     - main
     - secondary
   - footer
*/
body {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  padding: 0px;
}

/* Header of each page */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: #cccccc;
  border-width: 0px 0px 1px 0px;
}

header #left {
  box-sizing: border-box;
  flex: 1 1 33%;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

header #center {
  box-sizing: border-box;
  flex: 1 1 34%;
  font-size: 220%;
  font-weight: bold;
  text-align: center;
}

header #right {
  box-sizing: border-box;
  flex: 1 1 33%;
  margin-right: 20px;
  font-size: 120%;
  text-align: right;
}

/* Footer of each page */
footer {
  box-sizing: border-box;
  margin:10px 10px 10px 10px;
  color: #cccccc;
  border-style: solid;
  border-color: #cccccc;
  border-width:1px 0px 0px 0px;
  text-align: right;
  font-size: 10px;
  font-weight: bold;
}

/* Content contains nav and main and secondary */
#content {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

/* Navigation area */
#content nav {
  box-sizing: border-box;
  /* grow shrink basis */
  flex: 1 2 25%;
  margin-left: 10px;
  margin-right: 10px;
}

/* Content-Area */
#content main {
  box-sizing: border-box;
  /* grow shrink basis */
  flex: 0 1 800px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Currently empty space on the right side */
#content #secondary {
  box-sizing: border-box;
  /* grow shrink basis */
}

/* One column layout: Navigation on top, content below */
@media (max-width: 800px) {
  /* Columnar layout */
  #content  {  
    flex-flow: column nowrap;
  }
  
  /* Navigation left aligned */
  nav li {
    text-align: left;
  }

  nav li.active > div {
    background-image:linear-gradient(to right, black 0%, white 50%)  
  }  
  
  /* Secondary is empty */
  #secondary {
    flex: 0 0 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Two column layout: navigation left, content right */
@media (min-width: 801px) and (max-width: 1279px) {
  /* Row layout */
  #content  {  
    flex-flow: row nowrap;
  }

  /* Navigation right aligned */
  nav li {
    text-align: right;
  }

  nav li.active > div {
    background-image:linear-gradient(to left, black 0%, white 50%)  
  }  
  
  /* Secondary is empty */
  #secondary {
    flex: 0 0 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Three column layout: navigation left, content center, empty column on the right */
@media (min-width: 1280px) {
  /* Row layout */
  #content  {  
    flex-flow: row nowrap;
  }
  
  /* Navigation right aligned */
  nav li {
    text-align: right;
  }

  nav li.active > div {
    background-image:linear-gradient(to left, black 0%, white 50%)  
  }  
  
  #secondary {
    flex: 0 0 0%;
    flex: 1 2 25%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*
  General navigation menu
 */

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  font-size: 120%;
  display: block;
  margin: 0px;
  padding: 0px;
/*  text-align: right;*/
}

/** Nested menu entry is smaller */
nav li li {
  font-size: 80%;
}

nav a {
  display: block;
  border-style: none;
  border-width: 0px;
}

nav a:active {
  border-style: none;
  border-width: 0px;
}

nav li.active > div {
  color: white;
  background-color: black;
  font-weight: bold;
}

/*
  General text styling
 */

/* Body */

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
  line-height: 1.5;
}

/* Headers */

h1 {
  font-weight: normal;
  font-size: 200%;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 160%;
  font-weight: normal
}

/* Links */

a {
  text-decoration: none;
  border-style: dashed;
  border-width:0px 0px 1px 0px;
  color:#000000;
}

a:visited {
  color: #333333;
}

a:hover {
  border-color: red;
  border-style: solid;
}

a.screenshot {
  text-decoration: none;
  border-style: none;
}

a.screenshot img {
  text-decoration: none;
  border-style: none;
}

/* General tables */

table {
  border-collapse:collapse;
  border-style:solid;
  border-color:black;
  border-width:1px 1px 1px 1px;
}

table tr th {
  font-weight: bold;
  background-color: #eeeeee;
  border-style:solid;
  border-color:black;
  border-width:1px 1px 1px 1px;
}

table tr td {
  border-style:solid;
  border-color:black;
  border-width:1px 1px 1px 1px;
}

/* Tables sheets */

table.sheet {
  border-collapse:collapse;
  border-style:solid;
  border-color:black;
  border-width:1px 1px 1px 1px;
}

table.sheet tr th {
  font-weight: bold;
  background-color: #eeeeee;
  border-style:solid;
  border-color:black;
  border-width:1px 1px 1px 1px;
}

table.sheet tr td {
  border-style:solid;
  border-color:black;
  border-width:1px 1px 1px 1px;
}

td.ok {
  background-color: #00ff00;
}

td.initial {
  background-color: #ffa500;
}

td.missing {
  background-color: #ff0000;
}

table.log {
  border-style:none;
  border-width:0px 0px 0px 0px;
}

/* Defintion of text */

dt {
  font-weight: bold;
}

blockquote {
  font-style: italic;
}

#sflogo {
  border-style:none;
  border-width:0px 0px 0px 0px;
}

/* Syntax hilighting */

highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

code {
  font-size: 12px;
  color: #555555;
}

pre code * {
  white-space: nowrap;
}

.highlight pre {
  overflow-x: auto;
}

.highlight code {
  color: #000000;
}

pre code {
  white-space: pre;
}
