# CMake
**/cmake_install.cmake
**/CMakeFiles
/build/

# IDEs
**/.cproject
**/.project
**/.settings
**/.classpath
**/nbproject
**/.idea
**/*.iml
/cmake-build-debug

# Backup
**/*~

# meson
/debug/
/release/
