#Autoconf & Automake

**/config.log
**/config.guess
**/config.status
**/config.sub
**/COPYING
**/INSTALL
**/Makefile.in
**/aclocal.m4
**/autom4te.cache
**/configure
**/compile
**/depcomp
**/install-sh
**/missing
**/stamp-h1
**/stamp-h2
**/config.h.in
**/config.h
**/Config.h.in
**/Config.h
**/test-driver
**/.deps
**/.libs
**/.dirstamp
**/*-uninstalled.sh

# Libtool
**/libtool
**/ltmain.sh
**/*.la
**/*.lo

# pkg-config
**/*.pc
**/*.pc.in

# CMake
**/CMakeFiles
**/CMakeCache.txt
**/cmake_install.cmake
**/.autotools
**/debug
**/release

# IDEs
**/.cproject
**/.idea
**/.project
**/.settings
**/.classpath

# Backup
**/*~
*.m4
*.exe
*.o
/libosmscout-client-qt/Makefile
/libosmscout-client-qt/include/Makefile
/libosmscout-client-qt/include/osmscout/ClientQtFeatures.h
/libosmscout-client-qt/src/Makefile
/libosmscout-client-qt/src/osmscout/moc_DBThread.cpp
/libosmscout-client-qt/src/osmscout/moc_MapWidget.cpp
/libosmscout-client-qt/src/osmscout/moc_RoutingModel.cpp
/libosmscout-client-qt/src/osmscout/moc_SearchLocationModel.cpp
/libosmscout-import/libosmscoutimport.config
/libosmscout-import/libosmscoutimport.creator
/libosmscout-import/libosmscoutimport.creator.user
/libosmscout-import/libosmscoutimport.files
/libosmscout-import/libosmscoutimport.includes
/libosmscout/libosmscout.config
/libosmscout/libosmscout.creator
/libosmscout/libosmscout.creator.user
/libosmscout/libosmscout.files
/libosmscout/libosmscout.includes
/DumpData/Makefile
/DumpData/src/Makefile
/OSMScout2/Makefile.Debug
/OSMScout2/Makefile.Release
/StyleEditor/Makefile
/StyleEditor/Makefile.Debug
/StyleEditor/Makefile.Release
/StyleEditor/object_script.StyleEditor.Debug
/StyleEditor/object_script.StyleEditor.Release
/Tests/Makefile
/Tests/src/Makefile
/deployIncludes.sh
*.m4
*.m4
