<!DOCTYPE html>

<html>
{{ partial "head.html" . }}

<body>

{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<div id="content">
<h1>{{ .Title }}</h1>

<article class="post">

<p>
The following list contains a number of articles that will introduce you
to libosmscout and its concepts.
</p>

<p>
If you are looking for some tutorials and concrete examples please visit
our <a href="/tutorials">Tutorials</a> section.
</p>

<ul>
  {{ range .Data.Pages }}
    {{ .Render "li"}}
  {{ end }}
</ul>

</article>
</div>

{{ partial "footer.html" . }}

</body>
</html>
