<!DOCTYPE html>

<html>
{{ partial "head.html" . }}

<body>

{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<div id="content">
<h1>{{ .Title }}</h1>

<article class="post">

<p>All basic features for

<ul>
<li>importing OSM data</li>
<li>quering the resulting database</li>
<li>rendering fancy maps nobody have ever seen</li>
<li>finding locations no one else could find</li>
<li>and routing you to all these strange places</li>
</ul>

are implemented.</p>

<p>
You should be able to implement your application with all
basic features required for a navigation application. However there are still
corners, we have not yet visited, some ideas though of but not implemented
yet. The following list of documents should give you an overview what is
already there - and what is not.
</p>

<p>
If you are looking for some basic documentation please visit
our <a href="/documentation">Documentation</a> section for tutorials and
concrete examples see the <a href="/tutorials">Tutorials</a> section.
</p>

<ul>
  {{ range .Data.Pages }}
    {{ .Render "li"}}
  {{ end }}
</ul>

</article>
</div>

{{ partial "footer.html" . }}

</body>
</html>
