<!DOCTYPE html>

<html>
{{ partial "head.html" . }}

<body>

{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<div id="content">
<h1>{{ .Title }}</h1>

<article class="post">

<p>
The following list contains dedicated tutorials for some aspects of
libosmscouts. While the tutorials are ordered so that you can read from top
to bottom you are not required to do so.
</p>

<p>
You should have read the introductional documents before, see 
<a href="/documentation">Documentation</a>.
</p>

<ul>
  {{ range .Data.Pages }}
    {{ .Render "li"}}
  {{ end }}
</ul>

</article>
</div>

{{ partial "footer.html" . }}

</body>
</html>
