# OSM data files and similar

/*.opt
/*.txt
/*.osm
/*.osm.pbf
/*.zip
/*.poly
/*.shp
/*/*.hgt

# Libosmscout Databases
/*/*.txt
/*/*.dat
/*/*.idx
/*/*.idmap
/*/*.tmp
/*/*.html
/*/*.dot

# Shapefiles
/*/*.cpg
/*/*.dbf
/*/*.prj
/*/*.shp
/*/*.shx
/*/*.json
/*/README
