name: Ubuntu 20.04

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    paths_ignore:
      - '.github/workflows/**'

jobs:
  build_gcc_meson:
    name: gcc and meson
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install software-properties-common
        run:  sudo apt-get install software-properties-common
      - name: Install gcc compiler and Co
        run:  sudo apt-get -y install gcc-10 g++-10 libtbb-dev ccache libtool pkg-config
      - name: Install meson and ninja via pip
        run:  "pip install meson ninja"
      - name: Install libosmscout dependencies
        run:  "sudo apt-get update && sudo apt-get install -y
               libxml2-dev
               libprotobuf-dev protobuf-compiler
               libagg-dev
               libfreetype6-dev libcairo2-dev libpangocairo-1.0-0 libpango1.0-dev
               qt5-default qtdeclarative5-dev libqt5svg5-dev qtlocation5-dev qtpositioning5-dev qttools5-dev-tools
               qttools5-dev qtmultimedia5-dev
               libglm-dev libglew-dev freeglut3 freeglut3-dev
               libmarisa-dev"
      - name: Configure build project
        run:  meson setup --buildtype debugoptimized --unity on debug
        env:
          CXX: g++-10
          CC: gcc-10
      - name: Build project
        run:  ninja -C debug
      - name: Run tests
        run:  meson test -C debug --print-errorlogs

  build_gcc_cmake:
    name: gcc and cmake
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install software-properties-common
        run:  sudo apt-get install software-properties-common
      - name: Install gcc compiler, cmake and ninja
        run:  sudo apt-get -y install gcc-10 g++-10 libtbb-dev ccache libtool pkg-config cmake ninja-build
      - name: Install libosmscout dependencies
        run:  "sudo apt-get update && sudo apt-get install -y
               libxml2-dev
               libprotobuf-dev protobuf-compiler
               libagg-dev
               libfreetype6-dev libcairo2-dev libpangocairo-1.0-0 libpango1.0-dev
               qt5-default qtdeclarative5-dev libqt5svg5-dev qtlocation5-dev qtpositioning5-dev qttools5-dev-tools
               qttools5-dev qtmultimedia5-dev
               libglm-dev libglew-dev freeglut3 freeglut3-dev libglfw3-dev libxrandr-dev libxcursor-dev libxinerama-dev libxi-dev libxxf86vm-dev
               xvfb
               libmarisa-dev"
      - name: Configure build project
        run: cmake -B build -DCMAKE_UNITY_BUILD=ON -Wno-dev -G "Ninja"
        env:
          CXX: g++-10
          CC: gcc-10
      - name: Build project
        run: cmake --build build
      - name: Install project
        run: sudo cmake --install build
      - name: Run tests
        run: xvfb-run ctest -j 2 --output-on-failure
        env:
          QT_QPA_PLATFORM: offscreen
        working-directory: build
