name: MSYS

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/**'

jobs:
  build_gcc_cmake:
    name: gcc and cmake
    runs-on: windows-2019
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        # mingw-w64-x86_64-cairo mingw-w64-x86_64-pango
      - name: Setup MSYS/MINGW64
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: "mingw-w64-x86_64-toolchain mingw-w64-x86_64-libtool mingw-w64-x86_64-libiconv
                    mingw-w64-x86_64-cmake mingw-w64-x86_64-extra-cmake-modules mingw-w64-x86_64-ninja
                    mingw-w64-x86_64-protobuf
                    mingw-w64-x86_64-libxml2
                    mingw-w64-x86_64-qt5
                    mingw-w64-x86_64-glew mingw-w64-x86_64-glfw mingw-w64-x86_64-glm
                    mingw-w64-x86_64-directx-headers"
      - name: Configure build project
        run: DXSDK_DIR=${MINGW_PREFIX}/${MINGW_CHOST} cmake -B build -DCMAKE_UNITY_BUILD=ON -Wno-dev -G "Ninja"
      - name: Build project
        run: cmake --build build
      - name: Run tests
        run:  "PATH=$PATH:$PWD/libosmscout:$PWD/libosmscout-import:$PWD/libosmscout-map:$PWD/libosmscout-test
               LC_ALL=C
               ctest -j 4 --output-on-failure --exclude-regex PerformanceTest"
        working-directory: build

  build_gcc_meson:
    name: gcc and meson
    runs-on: windows-2019
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup MSYS/MINGW64
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: "mingw-w64-x86_64-toolchain mingw-w64-x86_64-libtool mingw-w64-x86_64-libiconv
                    mingw-w64-x86_64-meson mingw-w64-x86_64-ninja
                    mingw-w64-x86_64-protobuf
                    mingw-w64-x86_64-libxml2
                    mingw-w64-x86_64-cairo mingw-w64-x86_64-pango
                    mingw-w64-x86_64-qt5
                    mingw-w64-x86_64-glew mingw-w64-x86_64-glfw mingw-w64-x86_64-glm"
      - name: Configure build project
        run: meson setup --buildtype debugoptimized --unity on debug
        env:
          CXX: ccache g++
          CC: ccache gcc
      - name: Build project
        run: meson compile -C debug
      - name: Run tests
        run: "LC_ALL=C
              meson test -C debug --print-errorlogs"
        env:
          LANG: en_US.utf8
